
nav
    div(class = "site-title")
        a(href = "/")
            h1 Cows Farm
            p  Management System for Cows Farm  
    
    ul
        li: a(href = "/dashboard") Dashboard
        li: a(href = "/logout") Logout