
nav
    div(class = "site-title")
        a(href = "/")
            h1 Cows Farm
            p  Management System for Cows Farm  
    
    ul
        li: a(href = "/") Home
        li: a(href = "/dashboard") Dashboard
        li: a(href = "/login") Login
        li: a(href = "/logout") Logout