
a(href = "/register-cow") Register New Cow
a(href = "/view-cows") View Cows
a(href = "/register-birth") Register New Cow Birth
a(href = "/register-milk") Register Daily Milk Production
a(href = "/view-milk") View Milk Production History
a(href = "/register-examination") Register Cow Examination
a(href = "/view-examinations") View Examinations History

