
a(href = "/cow/register") Register New Cow
a(href = "/cow/view") View Cows
a(href = "/birth/register") Register New  Birth
a(href = "/birth/view") View Births
a(href = "/milk/register") Register Daily Milk Production
a(href = "/milk/view") View Milk Production History
a(href = "/examination/register") Register Cow Examination
a(href = "/examination/view") View Examinations History

