include ./components/page_header
  link(rel = "stylesheet", href = "/styles/dashboard.css")
  title Page not found

  body  
    include ./components/nav

    .page-not-found
        h1 Page not found

    include ./components/success
    include ./components/error