include ./components/page_header
    link(rel = "stylesheet", href = "/styles/main.css")
    link(rel = "stylesheet", href = "/styles/dashboard.css")
    title Dashboard

    body
        include ./components/nav

        .operations
            include ./components/operations
