include ./components/page_header
    link(rel="stylesheet" , href = "/styles/register-cow.css" )
    title Register Daily Milk Production


    body
        include ./components/nav

        .register-cow-form
            h1 Register Daily Milk Production

            form(action = "/milk/register" , method = "POST")

                label(for = "date") Date :
                input(type = "date" , id = "date" , name = "date" required) 

                label(for = "quantity") Quantity (in Liters)  :
                input(type = "number" , id = "quantity" , name = "quantity" required) 

                label
                button(type = "submit" , class = "btn") Register 

        include ./components/error
