

h1{
    margin: auto;
    width: fit-content;
    height: fit-content;
    
}

.spacer{
    margin-bottom: 50px;
}
.operations{
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    height: fit-content;
    grid-gap: 50px ;
    margin: auto;
}

.operations > a {

    width: 100%;
    margin: auto;
    border : 2px solid var(--primary-color);
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primary-text-color);
    padding: 15px;
}

.operations > a:hover{
    background-color: var(--light-primary-color);
    color : var(--primary-text-color);
}