
:root{

    /*Colors*/
    --primary-color: #607D8B;
}

.btn{

    border: 2px solid var(--primary-color);
    background-color: white;
    border-radius: 10px;
    margin: auto;
    height: 40px;
    width: 150px;
    cursor: pointer;
}

.btn:hover{
    
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
}