.list {
    width: 100%;
    height: auto;
    display: grid;
    width: 100%;
    height: fit-content;
    grid-gap: 15px;
}

.headers {
    display: grid;
    width: 100%;
    height: 50px;
    grid-template-columns: 200px 1fr 300px  100px 100px;
    text-align: center;
}

.headers>p {
    color: var(--accent-color);
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.list-element {
    border: 2px solid var(--light-primary-color);
    border-radius: 20px;
    margin-bottom: 20px;
    display: grid;
    width: 100%;
    height: 60px;
    grid-template-columns: 200px 1fr 300px  100px 100px;
    text-align: center;
}


.list-element p,
a {
    text-align: center;
    margin: auto;
}

form {
    margin: auto;
    padding: 0;
    width: fit-content;
    height: fit-content;
}


.list-element button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.list-element:hover {
    background-color: var(--light-primary-color);
}

.delete:hover {
    cursor: pointer;
}

